*{
    background-color: black;
    color: white;
}
div.container{
    display: flex;
    flex-wrap: wrap;
}
div.container > article{
    width: 100px;
    height: 100px;
    border: 2px solid yellow;
    margin: .8rem;
}
.center{
    justify-content: center;
    align-items: center;
    align-content: center;
}